---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
const history = [
    {year: 1930, text: 'Основана компания China National Heavy Duty Truck Group Co. Ltd. или SINOTRUK, ранее известная как Цзинаньский автомобильный завод, которая является колыбелью китайской автомобильной промышленности.'},
    {year: 1960, text: 'Выпущен первый в Китае автомобиль большой грузоподъемности – восьмитонный грузовик JN150 Yellow River. На заре становления КНР этот автомобиль внес значительный вклад в развитие национальной экономики и в строительство национальной обороны.'},
    {year: 1983, text: 'Был успешно внедрен австрийский проект большегрузных грузовиков Steyr - первое китайское производство, интегрировавшее зарубежную технологию. Steyr в то время стал синонимом тяжелых грузовиков в КНР.'},
    {year: 1984, text: 'SINOTRUK стал основным предприятием, на базе которого создана корпорация, включавшая в себя полный цикл производства автомобилей, двигателей, трансмиссии и запасных частей.'},
    {year: 2000, text: 'Создана группа SINOTRUK, состоящая из трех основных компаний, руководство которых подчинено провинции Шаньдун.'},
    {year: 2001, text: 'Официальное название корпорации «SINOTRUK» было получено после модернизации и реорганизации.'},
    {year: 2003, text: 'SINOTRUK и Volvo Group официально подписали контракт на проект совместного предприятия по производству автомобилей большой грузоподъемности.'},
    {year: 2007, text: 'SINOTRUK зарегистрировалась на основной площадке Фондового рынка Гонконга, сформировав платформу для глобального развития.'},
    {year: 2009, text: 'Компания установила стратегическое партнерство с немецкой «MAN», в результате чего компания «MAN» стала держателем 25%+1 акций в корпорации «Sinotruk» (Гонконг).'},
    {year: 2013, text: 'Официально запущен бренд SITRAK как результат сотрудничества с немецкой компанией MAN.'},
    {year: 2015, text: 'Открыт крупнейший научно-технический центр, ставший единственным НИИ машиностроения в стране в области технологии машиностроения для тяжелых грузовиков. Самое высокое здание в восточном Цзинане.'},
    {year: 2016, text: 'Представлен автономный грузовик первого поколения.'},
    {year: 2017, text: 'Начал работу клуб Million Hero для владельцев грузовиков с пробегом более 1 000 000 км. Его первым участником стал водитель, чей трак прошел 1 500 000 км без капитального ремонта. <br/>Выпущен 1 000 000 автомобилей HOWO - международного бренда, экспортирующегося в более, чем 90 стран.'},
    {year: 2019, text: 'Объем продаж группы превысил 296 200 автомобилей.'},
    {year: 2021, text: 'Компания SINOTRUK запускает бренд легковых и легких коммерческих автомобилей VGV, в продаже на рынке Китая стартуют модели U70 и U75.'},
    {year: 2022, text: 'В линейке U-серии появляется пикап.'},
    {year: 2023, text: 'Подписано соглашение с компанией Motor-Place о запуске бренда VGV в России.'},
    {year: 2024, text: 'Старт продаж в России.'},
];
---

<PageLayout
    h1="История бренда VGV"
    title="История бренда VGV"
    description="VGV является подразделением компании SINOTRUK и специализируется на легковых и легких коммерческих автомобилях."
    breadcrumb={[{name:"История бренда VGV",href:""}]}
>

    <div class="about-brand__text">
        <p>VGV является подразделением компании SINOTRUK и специализируется на легковых и легких коммерческих автомобилях. SINOTRUK - крупнейший и самый известный производитель грузовых автомобилей в Китае, который является признанным лидером отрасли по продаже и экспорту. SINOTRUK выпускает широкий спектр грузовых автомобилей, включая пикапы, фургоны, самосвалы, тягачи и другие виды коммерческой техники. <br/>Продукция компании экспортируется во многие страны мира, включая Россию.</p>
        <p><b>Компания SINOTRUK ведет свою историю с 1930 года.</b> За почти 100 лет своего существования компания получила множество наград, занимает 60-е место в списке «100 самых ценных брендов Китая» и развилась до мирового лидера автомобильной индустрии. На текущий момент компания имеет 37 заводов по производству автомобилей и компонентов в Китае, а также 25 сборочных площадок по всему миру, последние <b>18 лет является лидером по экспорту грузовых автомобилей в КНР.</b></p>
    </div>

    <div class="flex flex-col md:flex-row items-center md:items-end gap-8 xl:gap-20 justify-center leading-none text-xl xl:text-3xl mt-10 sm:mt-14 md:mt-20">
        <div class="flex items-end gap-x-3">с <span class="text-5xl xl:text-7xl font-bold text-[#a42523] !leading-none">1930</span> года</div>
        <div class="flex items-end gap-x-3">
            <div class="">в <span class="text-5xl xl:text-7xl font-bold text-[#a42523] !leading-none">100</span></div>
            <div class="">самых ценных <br/>брендах Китая</div>
        </div>
        <div class="flex items-end gap-x-3"><span class="text-5xl xl:text-7xl font-bold text-[#a42523] !leading-none">37</span> заводов</div>
    </div>

    <div class="flex justify-center mt-10 sm:mt-14 md:mt-20">
        <a href="https://vgvmotor.ru/upload/docs/vgv-sinotruk.pdf" class="btn w-fit !m-0" download target="_blank">Презентация</a>
    </div>

    <div class="text-center mt-10 sm:mt-14 md:mt-20">
        <p>Бренд VGV можно интерпретировать, как <b>Very Good Vehicle</b> (очень хороший автомобиль). <br/>Используя собственную инфраструктуру полного цикла производства и богатые традиции проектирования, <br/>испытания и эксплуатации крупных автомобилей, компания SINOTRUK воплотила в бренде VGV все качества, <br/>присущие легковому автомобилю, и добавила <b>сильные стороны утилитарных машин</b>.</p>
    </div>

    <div class="relative sm:space-y-10 mt-6 sm:mt-14 md:mt-20 *:text-center sm:*:text-left">
        <div class="absolute h-full w-0.5 bg-gray-300 top-0 left-1/2 hidden sm:block"></div>
        {history.map((h, idx) => (
            idx % 2 ? (
            <div class="flex flex-col-reverse items-center sm:items-start sm:grid grid-cols-9 relative z-10 sm:text-lg">
                <div class="py-2 px-4 col-span-4 sm:text-right">
                    <img src={`/img/about/${h.year}.webp`} alt={h.year.toString()} class="w-full aspect-video my-6" />
                    <Fragment set:html={h.text} />
                </div> 
                <div class="py-2 bg-white text-gray-600 text-3xl text-center col-span-1">{h.year}</div> 
                <div class="py-2 px-4 col-span-4"></div> 
            </div>
            ) : (
            <div class="flex flex-col items-center sm:items-start sm:grid grid-cols-9 relative z-10 sm:text-lg"> 
                <div class="py-2 px-4 col-span-4"></div> 
                <div class="py-2 bg-white text-gray-600 text-3xl text-center col-span-1 h-fit">{h.year}</div> 
                <div class="py-2 px-4 col-span-4">
                    <img src={`/img/about/${h.year}.webp`} alt={h.year.toString()} class="w-full aspect-video my-6" />
                    <Fragment set:html={h.text} />    
                </div> 
            </div>
            )
        ))}
    </div>

    <div class="text-center mt-10 sm:mt-14 md:mt-20">
        <p>История VGV только начинается, однако новый бренд развивается быстро. <br/>Компания SINOTRUK инвестирует огромные средства в новое подразделение. В ближайшие 2-3 года <br/>клиентам станут доступны новые модели кроссоверов, больших внедорожников, пикапов и легких коммерческих фургонов, каждый из которых найдет своего уникального клиента. </p>
        <p>Автомобили объединит единый подход, который и делает их «очень хорошими» (Very Good Vehicle): <br/><br/><span class="text-lg sm:text-3xl font-medium">VGV&nbsp;— это выносливость и&nbsp;технологичность коммерческих траков <br/>в&nbsp;доступных комфортных легковых автомобилях.</span></p>

        <div class="thumb-wrap mt-10 sm:mt-14 md:mt-20">
            <iframe class="max-w-6xl mx-auto w-full aspect-video object-cover" src="https://rutube.ru/play/embed/ce74f8d46ccddb36db026d895ced8b19/" frameborder="0" allow="clipboard-write; autoplay" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>

</PageLayout>